.shop
  &_wrapper
    @extend .wrapper
  &_layout
    display: flex
    gap: 2.5rem
    padding-top: 4rem
  &_sidebar
    width: fit-content
  &_products
    // overflow-x: scroll
  &_toolbar
    display: flex
    justify-content: space-between
    margin-bottom: 3rem
  &_grid
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    gap: 2.5rem
    .card
      overflow: clip
  &_rooms
    margin-bottom: 3rem
    input
      display: none
    label
      padding-bottom: .6rem
      display: inline-flex

      
