.cart
  border: 2px solid red
  width: 100%
  &_title
    font-size: 4rem
    text-align: center
    margin-top: 3rem
  &_breadcrumps, &_breadcrump, &_breadcrump span
    display: flex
    align-items: center
  &_breadcrumps
    margin: 0 auto
    width: 60%
    justify-content: space-between
  &_breadcrump
    gap: 1rem
    color: var(--neutral-level-4)
    font-weight: 600
    padding-bottom: 1.5rem
    span
      background: var(--neutral-level-3)
      color: var(--neutral-level-1)
      height: 3.2rem
      width: 3.2rem
      border-radius: 50%
      justify-content: center
    &-active
      color: var(--neutral-level-7)
      border-bottom: .2rem solid var(--neutral-level-6)
      span
        background-color: var(--neutral-level-7)
        color: #fff
  &_products
    display: flex
  &_table
    flex-basis: 60%
    padding: .5rem

  &_row
    padding: 2rem 0
    border-bottom: .2rem solid var(--neutral-level-3)
    display: flex
    align-items: center
    justify-content: space-between
    gap: 5rem
  &_description
    display: flex
    gap: 2rem
    font-size: 1.3rem
  &_img
    img
      height: 10rem
      width: 10rem
      object-fit: cover
  &_counter
    margin-left: auto
  &_meta
    display: flex
    flex-direction: column
    justify-content: space-around
    width: 10rem
  &_name
    font-size: 1.5rem
    font-weight: 700
  &_color
    color: var(--neutral-level-4)
  &_remove
    font-size: 1.5rem
    font-weight: 700
    color: var(--neutral-level-4)
    display: flex
    align-items: center
    gap: .7rem
    i
      font-size: 2.5rem
  &_subtotal
    font-weight: 700

