.card
  position: relative
  height: fit-content
  span
    display: block
    font-weight: bold
    padding-top: 0.7rem
  img
    object-fit: cover
  &_discount, &_banner
    position: absolute
    display: inline-flex
    left: 1.2rem
    padding: 0.2rem .7rem
    border-radius: .5rem
    font-size: 1.3rem
    text-align: center
  &_banner
    top: 1.2rem
    background: #fff
  &_discount
    top: 5rem
    background: var(--secondary-green)