.card
  position: relative
  // height: fit-content
  &:hover
    .card_wishlist, .card_footer
      opacity: 1
      transition: all .3s ease-out
      cursor: pointer   
    .card_wishlist
      i
        background-color: none 
        color: none
    .card_footer
      span
        font-weight: 400
        font-size: 1.3rem
  span
    display: block
    font-size: 1.4rem
    font-weight: 600
    padding-left: .6rem
  &_img
    // width: 100%
    background-color: var(--neutral-level-2)
    padding: 1.2rem
    margin-bottom: .5rem
    display: flex
    flex-direction: column
    align-items: center
    height: 30rem
    // overflow: hidden 
    @media  screen and (max-width: 740px)
      height: 25rem
    img
      height: 100%
      margin-left: auto
      margin-right: auto
      width: 100%
      margin-bottom: .5rem
      object-fit: contain
    ~ *
      margin: 0.3rem 0
  &_discount, &_banner
    position: absolute
    display: inline-flex
    left: 2rem
    padding: .4rem .7rem
    border-radius: .5rem
    text-align: center
    font-weight: 600 !important
  &_pricewrapper
    display: flex
    gap: 2rem
  &_price
    // border: 1px solid red
    // font-size: 1.3rem !important
  &_oldprice
    color: var(--neutral-level-4) 
    text-decoration: line-through 
    text-decoration-color: var(--neutral-level-4) !important
    // text-decoration-thickness: .1rem
    // font-size: 1.3rem !important
    
  &_discount
    color: var(--neutral-level-1)
  &_banner
    top: 1.5rem
    background: #fff
  &_discount
    top: 6rem
    background-color: var(--secondary-green)
  &_wishlist
    position: absolute
    top: 2rem
    right: 2rem
    font-size: 2.2rem
    opacity: 0
    transition: all .6s ease-in
    &:hover
      scale: 1.3
      transition: all .4s ease-in
      color: red
  &_footer
    width: 100%
    background-color: var(--neutral-level-7)
    color: var(--neutral-level-1)
    padding: .9rem
    display: flex
    align-items: center
    justify-content: center
    border-radius: .9rem
    width: 92%
    margin: 0 auto 
    opacity: 0
    overflow: hidden
    transition: all .4s ease-in
    span
        font-weight: 400
        font-size: 1.3rem
    @media  screen and (max-width: 667px)
      opacity: 1
    &:hover
      font-size: 1.3rem