.card
  position: relative
  height: fit-content
  &:hover
    .card_wishlist, .card_footer
      opacity: 1
      transition: all .3s ease-out
      cursor: pointer    
  span
    display: block
    font-size: 1.4rem
    font-weight: 500
  &_img
    width: 100%
    background-color: var(--neutral-level-2)
    padding: 1.2rem
    margin-bottom: .5rem
    img
      width: 100%
    ~ *
      margin: 0.3rem 0
  &_discount, &_banner
    position: absolute
    display: inline-flex
    left: 2rem
    padding: .6rem .6rem
    border-radius: .5rem
    text-align: center
    font-weight: 600
  &_banner
    top: 2rem
    background: #fff
  &_discount
    top: 7rem
    background: var(--secondary-green)
  &_wishlist
    position: absolute
    top: 2rem
    right: 2rem
    font-size: 2.2rem
    opacity: 0
    transition: all .6s ease-in
    &:hover
      scale: 1.2
      transition: all .6s ease-in
  &_footer
    width: 100%
    background-color: var(--neutral-level-7)
    color: var(--neutral-level-1)
    font-weight: 400
    font-size: 1.2rem
    padding: .9rem
    display: flex
    align-items: center
    justify-content: center
    border-radius: .6rem
    width: 92%
    margin: 0 auto 
    opacity: 0
    overflow: hidden
    transition: all .4s ease-in
    &:hover
      font-size: 1.3rem