@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
*, *::before, *:after {
  box-sizing: inherit;
  overscroll-behavior-x: none;
  overscroll-behavior-y: auto;
  margin: 0;
  padding: 0;
}

body, html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  box-sizing: border-box;
  font-kerning: normal;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--theme-color-text-cream);
  line-height: 1.5;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  font-kerning: normal;
  min-height: 100vh;
  min-height: 100dvh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

ol, ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  color: var(--theme-color-text-cream);
  font-family: var(--font);
  line-height: 1;
  font-weight: 600;
  text-align: center;
  --h1: 6.2rem;
  --h2: 5.2rem;
  --h3: 4.5rem;
  --h4: 3.5rem;
  --h5: 3rem;
  --h6: 2.5rem;
}
@media screen and (max-width: 667px) {
  .h1, .h2, .h3, .h4, .h5, .h6 {
    --h1: 5rem;
    --h2: 4rem;
    --h3: 3.5rem;
    --h4: 2.5rem;
    --h5: 2.2rem;
    --h6: 2rem;
  }
}

.h1 {
  font-size: var(--h1);
}

.h2 {
  font-size: var(--h2);
}

.h3 {
  font-size: var(--h3);
}

.h4 {
  font-size: var(--h4);
}

.h5 {
  font-size: var(--h5);
}

.h6 {
  font-size: var(--h6);
}

img, svg {
  max-width: 100%;
  vertical-align: middle;
}

img {
  height: auto;
  margin: auto;
  padding: 0;
}

.main {
  width: 100%;
  flex-grow: 1;
}

.wrapper, .pageheader, .shop_wrapper, .footer_wrapper, .article_wrapper, .value_wrapper, .carousel_wrapper, .banner_wrapper, .hero_wrapper, .header_wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-container-width);
}
@media screen and (max-width: 667px) {
  .wrapper, .pageheader, .shop_wrapper, .footer_wrapper, .article_wrapper, .value_wrapper, .carousel_wrapper, .banner_wrapper, .hero_wrapper, .header_wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
    overflow: hidden;
  }
}

.hidden {
  display: none;
}

:root {
  --primary-color: #000;
  --secondary-blue: #377dff;
  --secondary-green: #38cb89;
  --secondary-orange: #ffab00;
  --secondary-red: #ff5630;
  --neutral-level-1: #fefefe;
  --neutral-level-2: #f3f5f7;
  --neutral-level-3: #e8ecef;
  --neutral-level-4: #6c7275;
  --neutral-level-5: #343839;
  --neutral-level-6: #232627;
  --neutral-level-7: #141718;
  --max-container-width: 112.0rem;
  --max-body-width: 144.0rem;
}

.header_bar, .header_cta, .header_nav, .header_links, .header_icons {
  display: flex;
  align-items: center;
}
.header_bar {
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 1.2rem 0.8rem;
  background-color: var(--neutral-level-2);
}
.header_cta {
  justify-self: center;
}
.header_span {
  color: var(--secondary-blue);
  margin: 0rem 0.5rem;
  text-decoration: underline;
}
.header_span .fa-arrow-right {
  margin-left: 0.5rem;
}
.header_close {
  position: absolute;
  right: 2rem;
}
.header_nav {
  justify-content: space-between;
}
.header_logo {
  font-size: 3rem;
}
.header_links {
  gap: 3rem;
}
.header_icons {
  gap: 1.5rem;
}

.hero_images {
  position: relative;
}
.hero_img img {
  width: 100%;
}
.hero_arrow {
  position: absolute;
  font-size: 3rem;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
}
.hero_arrow.fa-circle-arrow-left {
  top: 40%;
  transform: translateY(50%);
  left: 2rem;
}
.hero_arrow.fa-circle-arrow-right {
  top: 40%;
  transform: translateY(50%);
  right: 2rem;
}
.hero_header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1.5rem 0;
}
.hero_content {
  font-size: 5rem;
  font-weight: 600;
}
.hero_content span {
  font-size: 4.5rem;
}
.hero_content span:first-of-type {
  font-weight: 800;
}
.hero_text {
  align-self: center;
  justify-tracks: center;
  width: 55ch;
}
.hero_text span {
  font-weight: 800;
}

.banner_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 30rem);
  margin-bottom: 2rem;
  gap: 2.5rem;
}
.banner_title {
  font-size: 2.8rem;
}
.banner-1 img, .banner-2 img, .banner-3 img {
  height: 100%;
  width: 100%;
}
.banner-1 .banner_content, .banner-2 .banner_content, .banner-3 .banner_content {
  position: absolute;
}
.banner-1 {
  grid-row: 1/-1;
  position: relative;
}
.banner-1 .banner_content {
  top: 2rem;
  left: 2.5rem;
}
.banner-2, .banner-3 {
  position: relative;
}
.banner-2 .banner_content, .banner-3 .banner_content {
  bottom: 2.5rem;
  left: 2.5rem;
}

.carousel_title {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0;
  align-items: flex-end;
}
.carousel_heading {
  font-size: 3.5rem;
}
.carousel_track {
  display: flex;
  gap: 2rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  overflow: hidden;
}

.value {
  background-color: var(--neutral-level-2);
  padding: 4rem;
  flex-grow: 1;
}
.value_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.value i {
  font-size: 4rem;
  padding-bottom: 1.2rem;
}
.value_title {
  padding-bottom: 1.2rem;
}
.value_description {
  font-size: 1.4rem;
  color: var(--neutral-level-4);
}
.values {
  padding-top: 4rem;
}

.promo {
  width: 100%;
  display: flex;
  height: 45rem;
  margin-top: 6rem;
}
.promo_fig {
  width: 50%;
  height: 100%;
}
.promo_fig img {
  height: 100%;
  width: 100%;
}
.promo_content {
  padding: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  background-color: var(--neutral-level-2);
  flex: 1;
}
.promo_content p:first-of-type {
  color: var(--secondary-blue);
  text-transform: uppercase;
  font-size: 14;
  font-weight: 800;
}
.promo_title {
  font-size: 3.5rem;
}
.promo_title span {
  text-transform: uppercase;
}

.article_wrapper {
  padding: 4rem 6%;
}
.article_heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.article_grid {
  display: flex;
  justify-content: space-between;
}
.article_preview {
  width: 31%;
}
.article_img {
  height: 85%;
}
.article_description {
  padding: 1.5rem 0;
}

.newsletter {
  background-image: url("../images/newsletter.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.newsletter_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.newsletter_title {
  font-size: 3.2rem;
  text-align: center;
}
.newsletter p {
  text-align: center;
}
.newsletter_form {
  border-bottom: 1px solid #555;
  display: flex;
}
.newsletter form {
  margin-top: 2rem;
  width: 40rem;
  padding: 1.2rem;
}
.newsletter form input {
  outline: none;
  border: none;
  padding-left: 1rem;
  width: 80%;
  background-color: var(--neutral-level-2);
}
.newsletter form button {
  background-color: var(--neutral-level-2);
  border: none;
  outline: none;
  transition: all 0.2s;
}
.newsletter form button:hover {
  scale: 1.05;
  cursor: pointer;
  transition: all 0.2s;
}

.footer {
  background-color: var(--neutral-level-7);
  color: #fff;
}
.footer_wrapper {
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.footer_nav {
  display: flex;
  padding-bottom: 4rem;
}
.footer_nav h4 {
  padding-right: 2rem;
}
.footer_nav span {
  padding-right: 2rem;
}
.footer_links {
  display: flex;
  margin-left: auto;
  gap: 2.5rem;
}
.footer_ribbon {
  display: flex;
  gap: 2rem;
  border-top: 1px solid #fff;
  padding-top: 2rem;
}
.footer_social {
  margin-left: auto;
  display: flex;
  gap: 1.5rem;
}

.shop_wrapper {
  width: 100%;
}
.shop_layout {
  display: flex;
  border: 1px solid blue;
  width: 100%;
  gap: 2.5rem;
}
.shop_sidebar {
  width: 35%;
  height: 80vh;
  border: 4px solid tomato;
}
.shop_products {
  overflow-x: scroll;
  width: 100%;
}
.shop_toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.shop_grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.shop_grid .card {
  width: 25rem;
  overflow: clip;
  border: 1px solid green;
}

.card {
  position: relative;
  width: 30rem;
}
.card span {
  display: block;
  font-weight: bold;
  padding-top: 0.7rem;
}
.card img {
  width: 100%;
  height: 75%;
}
.card_discount, .card_banner {
  position: absolute;
  display: inline-flex;
  left: 1.2rem;
  padding: 0.2rem 0.7rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  text-align: center;
}
.card_banner {
  top: 1.2rem;
  background: #fff;
}
.card_discount {
  top: 5rem;
  background: var(--secondary-green);
}

.pageheader {
  position: relative;
}
.pageheader_img {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.pageheader_img img {
  height: 39.2rem;
  width: 100%;
}
.pageheader_header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.pageheader_crumps {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 1.8rem;
}
.pageheader_crumps i {
  font-size: 1.4rem;
}
.pageheader_crump:first-of-type, .pageheader i:first-of-type {
  color: var(--neutral-level-4);
}
.pageheader_title {
  font-size: 5rem;
}/*# sourceMappingURL=main.css.map */