@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
*, *::before, *:after {
  box-sizing: inherit;
  overscroll-behavior-x: none;
  overscroll-behavior-y: auto;
  margin: 0;
  padding: 0;
}

body, html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  box-sizing: border-box;
  font-kerning: normal;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--neutral-level-7);
  line-height: 1.5;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  font-kerning: normal;
  min-height: 100vh;
  min-height: 100dvh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

ol, ul {
  list-style: none;
}

button, input {
  outline: none;
  border: none;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  color: var(--theme-color-text-cream);
  font-family: var(--font);
  line-height: 1;
  font-weight: 600;
  text-align: center;
  --h1: 6.2rem;
  --h2: 5.2rem;
  --h3: 4.5rem;
  --h4: 3.5rem;
  --h5: 3rem;
  --h6: 2.5rem;
}
@media screen and (max-width: 667px) {
  .h1, .h2, .h3, .h4, .h5, .h6 {
    --h1: 5rem;
    --h2: 4rem;
    --h3: 3.5rem;
    --h4: 2.5rem;
    --h5: 2.2rem;
    --h6: 2rem;
  }
}

.h1 {
  font-size: var(--h1);
}

.h2 {
  font-size: var(--h2);
}

.h3 {
  font-size: var(--h3);
}

.h4 {
  font-size: var(--h4);
}

.h5 {
  font-size: var(--h5);
}

.h6 {
  font-size: var(--h6);
}

img, svg {
  max-width: 100%;
  vertical-align: middle;
}

img {
  height: auto;
  margin: auto;
  padding: 0;
}

.main {
  width: 100%;
  flex-grow: 1;
}

.wrapper, .value_wrapper, .footer_wrapper, .account_wrapper, .header_wrapper, .pageheader, .shop_wrapper, .article_wrapper, .carousel_wrapper, .banner_wrapper, .hero_wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-container-width);
  padding-left: 2rem;
  padding-right: 2rem;
}
@media screen and (max-width: 667px) {
  .wrapper, .value_wrapper, .footer_wrapper, .account_wrapper, .header_wrapper, .pageheader, .shop_wrapper, .article_wrapper, .carousel_wrapper, .banner_wrapper, .hero_wrapper {
    overflow: hidden;
  }
}

.hidden {
  display: none;
}

:root {
  --primary-color: #000000;
  --secondary-blue: #377dff;
  --secondary-green: #38cb89;
  --secondary-orange: #ffab00;
  --secondary-red: #ff5630;
  --neutral-level-1: #fefefe;
  --neutral-level-2: #f3f5f7;
  --neutral-level-3: #e8ecef;
  --neutral-level-4: #6c7275;
  --neutral-level-5: #343839;
  --neutral-level-6: #232627;
  --neutral-level-7: #141718;
  --max-container-width: 122.5rem;
  --max-body-width: 144.0rem;
}

.hero_slider {
  position: relative;
}
.hero_slide {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  transition: all transform 1.7s;
  scroll-behavior: smooth;
  align-items: center;
  height: 57.5rem;
  background-color: var(--neutral-level-2);
}
@media screen and (max-width: 667px) {
  .hero_slide {
    height: 27rem;
  }
}
.hero_slide img {
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  flex-shrink: 0;
}
@media screen and (max-width: 667px) {
  .hero_slide img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.hero_arrow {
  position: absolute;
  font-size: 3.5rem;
  color: #fff;
  border-radius: 50%;
  transform-origin: center;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 667px) {
  .hero_arrow {
    font-size: 2.5rem;
  }
}
.hero_arrow:hover {
  transform-origin: center;
  transition: all 0.3s ease-in-out;
  scale: 1.09;
  cursor: pointer;
  color: var(--neutral-level-1);
}
.hero_arrow.fa-circle-arrow-left {
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
}
@media screen and (max-width: 667px) {
  .hero_arrow.fa-circle-arrow-left {
    left: 0.8rem;
  }
}
.hero_arrow.fa-circle-arrow-right {
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
}
@media screen and (max-width: 667px) {
  .hero_arrow.fa-circle-arrow-right {
    right: 0.8rem;
  }
}
.hero_header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1.5rem 0;
}
@media screen and (max-width: 667px) {
  .hero_header {
    grid-template-columns: 1fr;
  }
}
.hero_content {
  font-size: 5rem;
  font-weight: 600;
}
@media screen and (max-width: 667px) {
  .hero_content {
    font-size: 3.5rem;
  }
}
.hero_content span {
  font-size: 4.5rem;
}
.hero_content span:first-of-type {
  font-weight: 800;
}
.hero_text {
  align-self: center;
  justify-tracks: center;
  width: 55ch;
}
@media screen and (max-width: 667px) {
  .hero_text {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.hero_text span {
  font-weight: 800;
  font-family: "Shantell Sans", cursive;
}

.banner_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 30rem);
  margin-bottom: 2rem;
  gap: 2rem;
}
@media screen and (max-width: 667px) {
  .banner_wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 19rem 19rem;
  }
}
.banner_title {
  font-size: 2.8rem;
}
.banner-1, .banner-2, .banner-3 {
  overflow: hidden;
  width: 100%;
}
.banner-1 img, .banner-2 img, .banner-3 img {
  height: 100%;
  transition: all 0.4s ease-in;
  width: 100%;
}
.banner-1 .banner_content, .banner-2 .banner_content, .banner-3 .banner_content {
  position: absolute;
  z-index: 2;
}
.banner-1:hover .banner_img, .banner-2:hover .banner_img, .banner-3:hover .banner_img {
  scale: 1.03;
  transition: all 0.3s ease-in;
}
.banner-1 {
  grid-row: 1/-1;
  position: relative;
}
@media screen and (max-width: 667px) {
  .banner-1 {
    grid-row: 1/2;
  }
}
.banner-1 .banner_content {
  top: 3rem;
  left: 3rem;
}
.banner-2, .banner-3 {
  position: relative;
}
.banner-2 .banner_content, .banner-3 .banner_content {
  bottom: 3rem;
  left: 3rem;
}
@media screen and (max-width: 667px) {
  .banner-2 .banner_content, .banner-3 .banner_content {
    position: absolute;
  }
}

.carousel_title {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0;
  align-items: flex-end;
}
@media screen and (max-width: 667px) {
  .carousel_title .cta_link {
    display: none;
  }
}
.carousel_heading {
  font-size: 3.5rem;
}
.carousel_inner {
  position: relative;
}
.carousel_track {
  box-sizing: border-box;
  display: flex;
  white-space: nowrap;
  overflow-x: hidden;
  transition: all transform 1.7s;
  scroll-behavior: smooth;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
}
.carousel_track .card {
  display: inline-block;
  width: 20%;
  flex-shrink: 0;
  height: 100%;
  margin-left: 1.5rem;
}
.carousel_track .card:first-of-type {
  margin-left: 0;
}
@media screen and (max-width: 667px) {
  .carousel_track .card {
    width: 99%;
    margin-left: 0;
  }
}
@media screen and (max-width: 667px) {
  .carousel_track .card_img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.carousel_arrows {
  position: absolute;
  font-size: 4.5rem;
  color: var(--neutral-level-6);
  top: 40%;
  transform: translateY(-50%);
  font-size: 3.5rem;
  transition: all 0.3s ease-in;
  transform-origin: center;
  z-index: 10;
  border: 0.1rem solid var(--neutral-level-6);
  padding: 0.9rem 0.4rem;
  -webkit-backdrop-filter: blur(0.3rem);
          backdrop-filter: blur(0.3rem);
}
.carousel_arrows:hover {
  transform-origin: center;
  transition: all 0.3s ease-out;
  scale: 1.1;
  cursor: pointer;
  color: var(--neutral-level-6);
}
.carousel_arrows-left {
  left: 1.5rem;
}
@media screen and (max-width: 667px) {
  .carousel_arrows-left {
    left: 0.5rem;
  }
}
.carousel_arrows-right {
  right: 1.5rem;
}
@media screen and (max-width: 667px) {
  .carousel_arrows-right {
    right: 0.5rem;
  }
}

.promo {
  width: 100%;
  display: flex;
  height: 45rem;
  margin-top: 6rem;
}
@media screen and (max-width: 667px) {
  .promo {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.promo_fig {
  flex-basis: 50%;
  height: 100%;
}
@media screen and (max-width: 667px) {
  .promo_fig {
    flex-basis: 1;
  }
}
.promo_fig img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.promo_content {
  padding: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  background-color: var(--neutral-level-2);
  flex-basis: 50%;
}
@media screen and (max-width: 667px) {
  .promo_content {
    padding: 3rem;
    flex-basis: 1;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}
.promo_content p:first-of-type {
  color: var(--secondary-blue);
  text-transform: uppercase;
  font-size: 14;
  font-weight: 800;
}
.promo_title {
  font-size: 3.5rem;
}
.promo_title span {
  text-transform: uppercase;
}

.article_wrapper {
  padding-top: 4rem;
  padding-bottom: 4rem;
  height: -moz-fit-content;
  height: fit-content;
}
.article_heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.article_grid {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
@media screen and (max-width: 550px) {
  .article_grid {
    gap: 1rem;
    flex-direction: column;
  }
}
.article_preview {
  width: 31%;
}
@media screen and (max-width: 550px) {
  .article_preview {
    width: 100%;
  }
}
@media screen and (max-width: 667px) {
  .article_preview .cta_link {
    border-bottom: 0.2rem solid var(--neutral-level-4);
  }
}
@media screen and (max-width: 667px) {
  .article_preview {
    height: 20rem;
  }
}
.article_img {
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 550px) {
  .article_img {
    height: auto;
  }
}
.article_img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
@media screen and (max-width: 550px) {
  .article_img img {
    height: auto;
    width: auto;
  }
}
.article_description {
  padding: 1.5rem 0;
}
@media screen and (max-width: 667px) {
  .article_description {
    padding: 0.8rem 0;
  }
}

.shop_layout {
  display: flex;
  gap: 2rem;
  padding-top: 4rem;
}
@media screen and (max-width: 835px) {
  .shop_layout {
    flex-direction: column;
    padding-top: 2rem;
  }
}
.shop_sidebar {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 5.5rem;
}
@media screen and (max-width: 835px) {
  .shop_sidebar {
    margin-top: 1rem;
  }
}
.shop_categories {
  display: block;
}
.shop_products {
  flex-basis: 100%;
  padding-bottom: 5rem;
}
.shop_toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.shop_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}
@media screen and (max-width: 740px) {
  .shop_grid {
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  }
}
.shop_grid .card img {
  width: 100%;
}
@media screen and (max-width: 435px) {
  .shop_grid .card img {
    width: 100%;
  }
}
.shop_rooms {
  margin-bottom: 3rem;
}
.shop_rooms input {
  display: none;
}
.shop_rooms label {
  padding-bottom: 0.6rem;
  display: inline-flex;
}
@media screen and (max-width: 835px) {
  .shop_rooms {
    display: none;
  }
}

@media screen and (max-width: 835px) {
  .price {
    display: none;
  }
}

.contact_feature {
  display: flex;
  align-items: center;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  padding: 4.5rem 0;
}
@media screen and (max-width: 667px) {
  .contact_feature {
    flex-direction: column;
    padding: 1rem 0;
  }
}
.contact_img {
  flex-basis: 1;
}
.contact_content {
  padding: 5rem;
  width: 50%;
}
@media screen and (max-width: 667px) {
  .contact_content {
    width: 100%;
    padding: 1.5rem 2rem;
  }
}
.contact_content > * {
  padding-bottom: 2rem;
}
.contact_content h4 {
  font-size: 3.2rem;
}
.contact_contact {
  padding: 4rem 2rem;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 667px) {
  .contact_contact {
    grid-template-columns: 1fr;
    padding: 2rem;
  }
}
.contact_field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 1.6rem;
}
.contact_field label {
  text-transform: uppercase;
}
.contact_field input, .contact_field textarea {
  padding: 1rem;
  border-radius: 0.8rem;
  outline: none;
  border: 1px solid var(--neutral-level-4);
}
.contact_map iframe {
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
}
.card:hover .card_wishlist, .card:hover .card_footer {
  opacity: 1;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.card span {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
}
.card_img {
  width: 100%;
  background-color: var(--neutral-level-2);
  padding: 1.2rem;
  margin-bottom: 0.5rem;
}
.card_img img {
  width: 100%;
}
.card_img ~ * {
  margin: 0.3rem 0;
}
.card_discount, .card_banner {
  position: absolute;
  display: inline-flex;
  left: 2rem;
  padding: 0.4rem 0.7rem;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: 600 !important;
}
.card_banner {
  top: 1.5rem;
  background: #fff;
}
.card_discount {
  top: 6rem;
  background: var(--secondary-green);
}
.card_wishlist {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2.2rem;
  opacity: 0;
  transition: all 0.6s ease-in;
}
.card_wishlist:hover {
  scale: 1.2;
  transition: all 0.6s ease-in;
}
.card_footer {
  width: 100%;
  background-color: var(--neutral-level-7);
  color: var(--neutral-level-1);
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  width: 92%;
  margin: 0 auto;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s ease-in;
}
.card_footer:hover {
  font-size: 1.3rem;
}

.pageheader {
  position: relative;
}
.pageheader_img {
  width: 100%;
  height: 42rem;
}
@media screen and (max-width: 835px) {
  .pageheader_img {
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media screen and (max-width: 535px) {
  .pageheader_img {
    height: 30rem;
  }
}
.pageheader_img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
@media screen and (max-width: 835px) {
  .pageheader_img img {
    width: 100%;
    height: 100%;
  }
}
.pageheader_header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.pageheader_header-contact {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  align-items: start;
  width: 70%;
}
@media screen and (max-width: 667px) {
  .pageheader_header-contact {
    width: 100%;
  }
}
.pageheader_crumps {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 1.6rem;
}
.pageheader_crumps i {
  font-size: 1.4rem;
}
.pageheader_crump:first-of-type, .pageheader i:first-of-type {
  color: var(--neutral-level-4);
}
.pageheader_title {
  font-size: 5rem;
}
@media screen and (max-width: 740px) {
  .pageheader_title {
    font-size: 2.5rem;
  }
}

.price_title {
  margin-bottom: 1.5rem;
  display: inline-flex;
}
.price_fields {
  width: -moz-fit-content;
  width: fit-content;
}
.price_field {
  display: flex;
  align-items: center;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.price_field label {
  order: -1;
  white-space: nowrap;
  font-weight: 500;
}
.price_field input {
  width: 2.2rem;
  height: 2.2rem;
}

.header_bar, .header_cta, .header_nav, .header_links, .header_icons {
  display: flex;
  align-items: center;
}
.header_bar {
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 1.2rem 0.8rem;
  background-color: var(--neutral-level-2);
}
.header_cta {
  justify-self: center;
}
.header_span {
  color: var(--secondary-blue);
  margin: 0rem 0.5rem;
  text-decoration: underline;
}
.header_span .fa-arrow-right {
  margin-left: 0.5rem;
}
.header_close {
  position: absolute;
  right: 2rem;
}
.header_nav {
  justify-content: space-between;
}
.header_logo a {
  font-size: 4rem;
  font-weight: 800;
}
@media screen and (max-width: 667px) {
  .header_logo a {
    font-size: 3rem !important;
    font-weight: 600;
  }
}
.header_links {
  gap: 3rem;
}
.header_icons {
  gap: 1.5rem;
}

.cta_link {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  transition: all 0.3s ease-in-out;
}
.cta_link:hover {
  gap: 1.2rem;
  transition: all 0.3s ease-in-out;
}
.cta_link:hover .fa-arrow-right {
  scale: 1.2;
  transition: all 0.2s ease-in-out;
}

.signup {
  z-index: 15;
  display: none;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  margin: 4rem auto;
}
@media screen and (max-width: 667px) {
  .signup {
    flex-direction: column;
  }
}
.signup_img {
  flex-basis: 50%;
  position: relative;
}
@media screen and (max-width: 667px) {
  .signup_img {
    padding: 0 2rem;
  }
}
.signup_img .header_logo {
  position: absolute;
  top: 2rem;
  transform: translateX(-50%);
  left: 50%;
}
.signup_img .header_logo a {
  font-size: 2.5rem;
}
.signup_img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 70rem;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
@media screen and (max-width: 667px) {
  .signup_img img {
    height: 50rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.signup_form {
  margin-top: 2rem;
  flex-basis: 50%;
  padding: 0 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (max-width: 667px) {
  .signup_form {
    padding: 0 2rem;
    gap: 1rem;
    margin-top: 1rem;
  }
}
.signup_form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.signup_form form input {
  border: none;
  outline: none;
  border-bottom: 0.1rem solid var(--neutral-level-3);
  padding: 1.2rem 1.2rem 1.2rem 0;
}
.signup_form form button {
  margin-top: 2rem;
  background-color: var(--neutral-level-6);
  color: var(--neutral-level-1);
  padding: 1.5rem 0;
}
@media screen and (max-width: 667px) {
  .signup_form form button {
    margin-top: 1rem;
  }
}
.signup_form span a {
  font-weight: 700;
  border-bottom: 0.2rem solid var(--neutral-level-5);
  padding-bottom: 0.5rem;
}
.signup_headline {
  font-size: 4rem;
}
@media screen and (max-width: 667px) {
  .signup_headline {
    font-size: 3rem;
  }
}
.signup_headline span {
  display: inline-block;
}
.signup_policy {
  margin-top: 2rem;
  display: flex;
  justify-content: start;
  gap: 0.6rem;
}
.signup_policy span {
  margin-left: auto;
}
.signup-active {
  display: flex;
}

.btn {
  padding: 1.2rem 2rem;
  text-align: center;
  border-radius: 0.99rem;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-black {
  background: var(--neutral-level-7);
}
.btn-black span {
  color: var(--neutral-level-1);
}

.cart {
  width: 100%;
}
.cart_title {
  font-size: 4rem;
  text-align: center;
  margin-top: 3rem;
}
.cart_breadcrumps, .cart_breadcrump, .cart_breadcrump span {
  display: flex;
  align-items: center;
}
.cart_breadcrumps {
  margin: 0 auto;
  width: 60%;
  justify-content: space-between;
}
.cart_breadcrump {
  gap: 1rem;
  color: var(--neutral-level-4);
  font-weight: 600;
  padding-bottom: 1.5rem;
}
.cart_breadcrump span {
  background: var(--neutral-level-3);
  color: var(--neutral-level-1);
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  justify-content: center;
}
.cart_breadcrump-active {
  color: var(--neutral-level-7);
  border-bottom: 0.2rem solid var(--neutral-level-6);
}
.cart_breadcrump-active span {
  background-color: var(--neutral-level-7);
  color: #fff;
}
.cart_products {
  display: flex;
  gap: 4rem;
}
.cart_table {
  flex-basis: 60%;
  padding: 0.5rem;
}
.cart_row {
  padding: 2rem 0;
  width: 100%;
  border-bottom: 0.2rem solid var(--neutral-level-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart_row > * {
  margin-right: 2%;
}
.cart_description {
  display: flex;
  gap: 2rem;
  font-size: 1.3rem;
}
.cart_img img {
  height: 10rem;
  width: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart_counter {
  margin-left: auto;
}
.cart_meta {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 10rem;
}
.cart_name {
  font-size: 1.5rem;
  font-weight: 700;
}
.cart_color {
  color: var(--neutral-level-4);
}
.cart_remove {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--neutral-level-4);
  display: flex;
  align-items: center;
  gap: 0.7rem;
  transition: all 0.2s ease-in;
}
.cart_remove i {
  font-size: 2.5rem;
}
.cart_remove:hover {
  scale: 1.007;
  transition: all 0.2s ease-in;
  color: var(--neutral-level-6);
  cursor: pointer;
}
.cart_subtotal {
  font-weight: 700;
}
.cart_summary {
  border-radius: 0.6rem;
  border: 0.1rem solid var(--neutral-level-4);
  flex-basis: 39%;
  flex-shrink: 1.5;
  padding: 1.5rem;
  height: -moz-fit-content;
  height: fit-content;
}
.cart_summary h5 {
  font-size: 2.2rem;
  padding: 1rem 0 2rem 0;
}
.cart_radio {
  padding: 1rem;
  border-radius: 0.6rem;
  margin-bottom: 1.2rem;
  border: 0.1rem solid var(--neutral-level-4);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cart_radio label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart_grandSubTotal, .cart_grandTotal {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0;
}
.cart_grandTotal {
  font-weight: 700;
}
.cart_coupon {
  padding: 5rem 0 3rem 0;
}
.cart_coupon p:first-of-type {
  font-weight: 700;
  font-size: 2rem;
}
.cart_form {
  border: 0.1rem solid var(--neutral-level-4);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.6rem;
  margin-top: 2rem;
}
.cart_form input {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
}
.cart_form button {
  background-color: #fff;
  padding: 0.5rem 1rem;
}

.checkout {
  display: flex;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
.checkout_column:first-of-type {
  flex-basis: 60%;
}
.checkout_column:last-of-type {
  flex-basis: 40%;
  border: 0.2rem solid #ccc;
  border-radius: 0.6rem;
  padding: 2.5rem;
  height: -moz-fit-content;
  height: fit-content;
}
.checkout_column:last-of-type .counter {
  width: -moz-fit-content;
  width: fit-content;
}
.checkout_column:last-of-type .counter_minus, .checkout_column:last-of-type .counter_plus, .checkout_column:last-of-type .counter_text {
  width: 3rem;
  height: 3rem;
}
.checkout_column:last-of-type .counter_text input {
  font-size: 2rem;
}
.checkout_card {
  border: 0.2rem solid #ccc;
  border-radius: 0.6rem;
  padding: 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.checkout_card * {
  width: 100%;
}
.checkout_card-contact .checkout_field:nth-child(2), .checkout_card-contact .checkout_field:nth-child(3) {
  width: 48%;
}
.checkout_card-shipping .checkout_field:nth-child(5), .checkout_card-shipping .checkout_field:nth-child(6) {
  width: 48%;
}
.checkout_card-shipping .checkout_field:last-of-type {
  flex-direction: row;
}
.checkout_card-shipping .checkout_field:last-of-type * {
  width: -moz-fit-content;
  width: fit-content;
}
.checkout_header {
  font-weight: 700;
  padding: 1.5rem 0;
}
.checkout_field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  gap: 0.6rem;
}
.checkout_field label {
  padding: 0.5rem;
  color: var(--neutral-level-4);
  text-transform: uppercase;
  font-size: 1.2rem;
}
.checkout_field input {
  outline: none;
  border: 0.1rem solid #bbb;
  border-radius: 0.8rem;
  padding: 1.2rem 1rem;
}
.checkout button {
  width: 100%;
}
.checkout_applyCoupon {
  display: flex;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  margin-top: 2.5rem;
}
.checkout_applyCoupon input {
  width: 65%;
  padding: 1.6rem 1.2rem;
  border: 0.1rem solid #bbb;
  border-radius: 0.7rem;
}
.checkout_applyCoupon button {
  width: 35%;
}
.checkout_finalDetails {
  margin-top: 2.5rem;
}
.checkout_span {
  border-bottom: 2px solid var(--neutral-level-2);
  padding-bottom: 1.3rem;
  margin-bottom: 1.3rem;
  display: flex;
  justify-content: space-between;
}

.complete {
  width: 90%;
  background-color: #fff;
  padding: 3rem 5rem;
}
.complete_inner {
  border: 1px solid #bbb;
  width: 70%;
  padding: 5rem 8rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.complete h5 {
  color: var(--neutral-level-4);
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
}
.complete p {
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  width: 20ch;
}
.complete_images {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.complete_meta {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.complete_meta span {
  font-weight: 600;
}
.complete_meta span:first-of-type {
  color: var(--neutral-level-4);
  flex-basis: 50%;
}
.complete_meta span:last-of-type {
  flex-basis: 50%;
}
.complete button {
  text-align: center;
  border-radius: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 2rem;
}

.counter {
  display: flex;
  border: 0.1rem solid var(--neutral-level-4);
  border-radius: 0.5rem;
  width: 10.8rem;
}
.counter_minus, .counter_plus, .counter_text {
  display: flex;
  cursor: pointer;
  width: 3.8rem;
  height: 3.8rem;
  align-items: center;
  justify-content: center;
}
.counter_minus i, .counter_plus i {
  color: var(--neutral-level-4);
}
.counter_text {
  text-align: center;
  outline: none;
  border: none;
}
.counter_text input {
  text-align: center;
  font-size: 26px;
  vertical-align: middle;
  outline: none;
  border: none;
}

.account_container {
  display: flex;
  justify-content: space-between;
}
.account_sidebar {
  padding: 0.9rem;
  flex-basis: 20%;
  background-color: var(--neutral-level-3);
  border-radius: 0.7rem;
  height: -moz-fit-content;
  height: fit-content;
}
.account_displayphoto {
  margin: 5rem auto 3rem auto;
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  overflow: clip;
  position: relative;
  border: 0.3rem solid #fff;
}
.account_displayphoto img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  width: 100%;
  height: 100%;
}
.account_displayphoto span {
  position: absolute;
  bottom: 0.2rem;
  right: 1.5rem;
  color: #fff;
  z-index: 4;
  font-size: 2.5rem;
}
.account_tab {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}
.account_tab span {
  color: var(--neutral-level-4);
  font-weight: 500;
  text-transform: capitalize;
}
.account_tab-active {
  border-bottom: 0.2rem solid var(--neutral-level-7);
}
.account_tab-active span {
  color: var(--neutral-level-7);
}
.account_info {
  flex-basis: 75%;
  padding-bottom: 4rem;
}
.account_fieldset {
  margin-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
}
.account_fieldset label {
  margin-bottom: 0.5rem;
}
.account_fieldset input {
  border: 0.1rem solid var(--neutral-level-3);
  padding: 1.2rem;
  border-radius: 0.8rem;
}
.account_location h6 {
  flex-basis: 100%;
}
.account_billingAddresses {
  display: flex;
  gap: 3rem;
}
.account_billingAddress {
  border: 0.2rem solid var(--neutral-level-5);
  border-radius: 0.8rem;
  padding: 2rem;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}
.account_billingAddress div {
  display: flex;
}
.account_billingAddress div h6 {
  font-weight: 600;
  font-size: 1.7rem;
}
.account_billingAddress span {
  font-size: 1.3rem;
}
.account_table {
  display: flex;
  flex-direction: column;
}
.account_row {
  display: flex;
  border-bottom: 0.2rem solid var(--neutral-level-3);
  padding-bottom: 0.8rem;
  font-size: 1.4rem;
}
.account_row:first-of-type {
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 0rem;
}
.account_cell {
  flex: 1;
  padding: 0.8rem;
}

.blog_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding: 5rem 0;
}
.blog_card .blog_img img {
  transition: all 0.4s ease-in;
}
.blog_card:hover .blog_img img {
  scale: 1.05;
  transition: all 0.4s ease-in;
}
.blog_img {
  height: 70%;
  overflow: clip;
}
.blog_img img {
  transform-origin: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog_title {
  padding: 2rem 0 0.5rem 0;
  font-weight: 600;
  font-size: 1.8rem;
  white-space: normal;
  display: block;
}
.blog_date {
  font-size: 1.4rem;
  color: var(--neutral-level-4);
}

.footer {
  background-color: var(--neutral-level-7);
  color: #fff;
}
.footer_wrapper {
  padding-top: 5rem;
  padding-bottom: 3rem;
}
@media screen and (max-width: 667px) {
  .footer_wrapper {
    padding-top: 2.5rem;
  }
}
.footer_nav {
  display: flex;
  padding-bottom: 4rem;
  align-items: center;
}
@media screen and (max-width: 667px) {
  .footer_nav {
    flex-direction: column;
  }
}
.footer_nav h4 {
  padding-right: 2rem;
  font-family: "Shantell Sans", cursive;
  font-size: 3rem;
}
.footer_nav span {
  padding-right: 2rem;
}
.footer_nav > span:first-of-type {
  transform: rotate(90deg);
  margin-top: 2rem;
}
.footer_links {
  display: flex;
  margin-left: auto;
  gap: 2.5rem;
  align-items: center;
}
@media screen and (max-width: 667px) {
  .footer_links {
    flex-direction: column;
    margin-left: 0;
    margin-top: 2rem;
  }
}
.footer_ribbon {
  display: flex;
  gap: 2rem;
  border-top: 1px solid #fff;
  padding-top: 2rem;
  align-items: center;
}
@media screen and (max-width: 667px) {
  .footer_ribbon > a {
    order: 2;
  }
}
@media screen and (max-width: 667px) {
  .footer_ribbon > span {
    order: 3;
    text-align: center;
  }
}
@media screen and (max-width: 667px) {
  .footer_ribbon {
    flex-direction: column;
    border-top: 1px solid var(--neutral-level-6);
  }
}
.footer_social {
  margin-left: auto;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.footer_social i {
  font-size: 2.5rem;
}
@media screen and (max-width: 667px) {
  .footer_social {
    order: 1;
    margin-left: 0;
    gap: 2.5rem;
  }
}

.header_bar, .header_cta, .header_nav, .header_links, .header_icons {
  display: flex;
  align-items: center;
}
.header_bar {
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 0.5rem 0.8rem;
  background-color: var(--neutral-level-2);
  overflow: hidden;
  font-size: 1.3rem;
}
.header_cta {
  justify-self: center;
}
.header_span {
  color: var(--secondary-blue);
  margin: 0rem 0.5rem;
  text-decoration: underline;
}
.header_span .fa-arrow-right {
  margin-left: 0.5rem;
}
.header_close {
  position: absolute;
  right: 2rem;
}
.header_nav {
  justify-content: space-between;
  padding: 0.8rem 0;
}
.header_logo a {
  font-size: 4.3rem;
  font-family: "Shantell Sans", cursive;
  font-weight: 800;
  color: var(--neutral-level-7);
}
.header_links {
  gap: 2rem;
}
.header_link a {
  font-size: 1.7rem;
  font-weight: 400;
}
.header_url {
  font-size: 1.6rem;
}
.header_icons {
  gap: 2rem;
  align-items: center;
}
.header_icon {
  display: flex;
  align-items: center;
}
.header_icon i {
  font-size: 2.15rem;
  transition: all 0.3s ease-in;
}
.header_icon i:hover {
  scale: 1.2;
  transition: all 0.5s ease-out;
  cursor: pointer;
  transform-origin: center;
}
.header_icon:last-of-type span {
  display: inline-flex;
  font-weight: 500;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  margin-left: -1.5rem;
  color: var(--neutral-level-1);
  background: var(--primary-color);
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
  padding: 1rem;
}
.header_icon:last-of-type span:hover {
  scale: 1;
  cursor: default;
}

.newsletter {
  background-image: url("../images/newsletter.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 667px) {
  .newsletter {
    padding: 5rem 3rem;
    background-image: none;
    background-color: var(--neutral-level-3);
  }
}
.newsletter_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 667px) {
  .newsletter_content {
    width: 96%;
  }
}
.newsletter_content p {
  white-space: wrap;
}
.newsletter_title {
  font-size: 3.2rem;
  text-align: center;
}
.newsletter p {
  text-align: center;
}
.newsletter_form {
  border-bottom: 1px solid var(--neutral-level-4);
  display: flex;
}
@media screen and (max-width: 667px) {
  .newsletter_form {
    width: 100%;
    padding-bottom: 1.5rem;
  }
}
.newsletter_form form {
  margin-top: 2rem;
  width: 40rem;
  padding: 1.2rem;
}
@media screen and (max-width: 667px) {
  .newsletter_form form {
    width: 100%;
    white-space: nowrap;
  }
}
.newsletter_form form input {
  outline: none;
  border: none;
  padding-left: 1rem;
  width: 100%;
  background-color: var(--neutral-level-2);
}
@media screen and (max-width: 667px) {
  .newsletter_form form input {
    width: 80%;
    padding: 1.2rem;
  }
}
.newsletter_form form button {
  background-color: var(--neutral-level-2);
  border: none;
  outline: none;
  transition: all 0.2s;
}
.newsletter_form form button:hover {
  scale: 1.05;
  cursor: pointer;
  transition: all 0.2s;
}

.values {
  padding-top: 4rem;
}
@media screen and (max-width: 667px) {
  .values {
    padding-top: 1rem;
  }
}

.value {
  background-color: var(--neutral-level-2);
  padding: 4rem;
  flex-grow: 1;
}
@media screen and (max-width: 667px) {
  .value {
    width: 15rem;
    padding: 1.5rem;
  }
}
.value_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 667px) {
  .value_wrapper {
    gap: 1rem;
  }
}
.value i {
  font-size: 4rem;
  padding-bottom: 1.2rem;
}
.value_title {
  padding-bottom: 1.2rem;
}
.value_description {
  font-size: 1.4rem;
  color: var(--neutral-level-4);
}

.product {
  padding-bottom: 1rem;
}
.product_grid {
  padding-top: 3rem;
  display: flex;
  gap: 6rem;
}
@media screen and (max-width: 667px) {
  .product_grid {
    flex-direction: column;
  }
}
.product_slider {
  flex-basis: 50%;
}
.product_slider-L {
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
}
.product_slider-L img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 1s ease-in;
}
.product_slider-S {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  padding-top: 2rem;
}
.product_slider-S img {
  width: 33.3333333333%;
}
.product_track {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  transition: all transform 1.7s;
  scroll-behavior: smooth;
  align-items: center;
  width: 100%;
}
.product_track img {
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  flex-shrink: 0;
}
.product_arrow {
  font-size: 4rem;
  color: var(--neutral-level-1);
  background: var(--neutral-level-7);
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  transition: all 0.2s ease-in;
  border: 1px solid var(--neutral-level-7);
}
.product_arrow:hover {
  scale: 1.15;
  transition: all 0.4s ease-out;
}
.product_arrow-left {
  left: 1rem;
}
.product_arrow-right {
  right: 1rem;
}
.product_content {
  flex-basis: 50%;
}
.product_content > * {
  margin-bottom: 2rem;
}
.product_rating {
  display: flex;
  gap: 3rem;
}
.product_title {
  font-size: 4.5rem;
  font-weight: 500;
}
.product_prices {
  display: flex;
  gap: 2rem;
  font-size: 2.5rem;
  align-items: center;
}
.product_oldprice {
  font-size: 2rem;
  color: var(--neutral-level-4);
  text-decoration: line-through;
}
.product_countdown span {
  margin-bottom: 1rem;
}
.product_timer {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  margin-top: 1rem;
}
.product_num {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product_num span:first-of-type {
  background: var(--neutral-level-3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  font-size: 2.4rem;
  font-weight: 600;
}
.product_num span:last-of-type {
  margin-top: -1rem;
  font-size: 1.3rem;
}
.product_measurement span {
  display: block;
  margin-bottom: 1rem;
}
.product_measurement span:last-of-type {
  font-size: 2rem;
}
.product_count {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.product_increanment {
  padding: 1.2rem 2rem;
  background: var(--neutral-level-2);
  display: flex;
  align-items: center;
}
.product_increanment > * {
  width: 32%;
}
.product_wishlist {
  display: flex;
  justify-content: center;
  flex-basis: 80%;
  padding: 1.2rem 2rem;
  align-items: center;
  border: 1px solid var(--neutral-level-4);
  border-radius: 0.99rem;
}/*# sourceMappingURL=main.css.map */