.header
  &_bar, &_cta, &_nav, &_links, &_icons
    display: flex
    align-items: center
  &_bar
    justify-content: center
    width: 100%
    position: relative
    padding: .5rem 0.8rem 
    background-color: var(--neutral-level-2)
    // display: none
    // height: 0
    // width: 0
    overflow: hidden
    // opacity: 0
    font-size: 1.3rem
  &_cta
    justify-self: center
  &_span
    color: var(--secondary-blue)
    margin: 0rem .5rem
    text-decoration: underline
    .fa-arrow-right
      margin-left: 0.5rem
  &_close
    position: absolute
    right: 2rem
  &_wrapper
    @extend .wrapper
  &_nav
    justify-content: space-between
    padding: .8rem 0
  &_toggle
    overflow: hidden
    height: 0
    width: 0
    display: none
  &_hamburger
    font-size: 3rem
    display: none
    
  &_logo
    a
      font-size: 4.3rem
      font-family: "Shantell Sans", cursive
      font-weight: 800
      color: var(--neutral-level-7)
  &_links
    gap: 2rem
  &_link
    a
      font-size: 1.7rem
      font-weight: 400
  &_url
    font-size: 1.6rem
  &_icons
    gap: 2rem
    align-items: center
  &_icon
    display: flex
    align-items: center
    i
      font-size: 2.15rem
      transition: all .3s ease-in
      &:hover
        scale: 1.2
        transition: all .5s ease-out
        cursor: pointer
        transform-origin: center
    &:last-of-type
      span
        display: inline-flex
        font-weight: 500
        font-size: 1.2rem
        justify-content: center
        align-items: center
        margin-left: -1.5rem
        color: var(--neutral-level-1)
        background: var(--primary-color)
        height: 1.7rem
        width: 1.7rem
        border-radius: 50%
        padding: 1rem
        &:hover
          scale: 1
          cursor: default