.value
  background-color: var(--neutral-level-2)
  padding: 4rem
  flex-grow: 1
  &_wrapper
    @extend .wrapper
    display: flex
    justify-content: space-between
    gap: 3rem
  i
    font-size: 4rem
    padding-bottom: 1.2rem
  &_title
    padding-bottom: 1.2rem
  &_description
    font-size: 1.4rem
    color: var(--neutral-level-4)
  &s
    padding-top: 4rem