.values
  padding-top: 4rem
.value
  background-color: var(--neutral-level-2)
  padding: 4rem
  flex-grow: 1
  @media  screen and (max-width: 667px)
    width: 15rem
    padding: 1.5rem
  &_wrapper
    @extend .wrapper
    display: flex
    justify-content: space-between
    gap: 3rem
    flex-wrap: wrap
    @media  screen and (max-width: 667px)
      gap: 1rem
  i
    font-size: 4rem
    padding-bottom: 1.2rem
  &_title
    padding-bottom: 1.2rem
  &_description
    font-size: 1.4rem
    color: var(--neutral-level-4)