.blog
  &_grid
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr))
    gap: 3rem
    padding: 5rem 0
  &_title
    padding: 2rem 0
    font-weight: 600
    font-size: 1.8rem
  &_date
    font-size: 1.4rem
    color: var(--neutral-level-4)
