.blog
  &_grid
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr))
    column-gap: 2rem
    padding: 5rem 0
  &_card
    // height: 43rem
    .blog_img img
      transition: all .4s ease-in
    &:hover
      .blog_img img
        scale: 1.05
        transition: all .4s ease-in
  &_img
    height: 70%
    overflow: clip
    img
      transform-origin: center
      object-fit: cover
  &_title
    padding: 2rem 0 .5rem 0
    font-weight: 600
    font-size: 1.8rem
    white-space: normal
    display: block
  &_date
    font-size: 1.4rem
    color: var(--neutral-level-4)
