.shop
  &_wrapper
    @extend .wrapper
  &_layout
    display: flex
    gap: 2rem
    padding-top: 4rem
    @media  screen and (max-width: 835px)
      flex-direction: column
      padding-top: 2rem
  &_sidebar
    width: fit-content
    position: sticky
    height: fit-content
    @media  screen and (max-width: 835px)
      margin-top: 1rem
  &_filter
    margin-bottom: 3rem
    display: flex
    i
      margin-right: 2rem
  &_categories
    display: block
    margin-top: 0
    padding-top: 0
    font-size: 1.8rem
  &_products
    flex-basis: 100%
    padding-bottom: 5rem
  &_toolbar
    display: flex
    justify-content: space-between
    margin-bottom: 3rem
  &_grid
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr))
    gap: 2rem
    @media  screen and (max-width: 740px)
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr))
    .card
      img
        width: 100%
        @media  screen and (max-width: 435px)
          width: 100%
.room
  &_field
    input
      display: none
      transition: all .4s ease-in
      &:checked
        ~ label
          color: var(--neutral-level-5)
          text-decoration: underline
          text-underline-offset: .5rem
          text-decoration-thickness: .2rem
          transition: all .4s ease-out-in
    label
      padding-bottom: .6rem
      display: inline-flex
      width: 90%
      cursor: pointer
      color: var(--neutral-level-4)
      font-size: 1.5rem
    &:first-of-type
      padding: .6rem 0
    @media  screen and (max-width: 835px)
      display: none
.price
  width: 100%
  &_title
    font-size: 1.8rem
    font-weight: 700
  &_fields
    width: fit-content
  &_field
    display: flex
    align-items: center
    padding-bottom: .6rem
    justify-content: space-between
    column-gap: 5rem
    input
      transition: all .4s ease-in
      width: 2.2rem
      height: 2.2rem
      position: relative
      &:checked
        accent-color: var(--neutral-level-5)
        ~ label
          color: var(--neutral-level-5)
          transition: all .4s ease-out-in
    label
      cursor: pointer
      display: inline-flex
      width: 90%
      color: var(--neutral-level-4)
      font-size: 1.5rem
      order: -1
      white-space: nowrap
    &:first-of-type
      padding: .6rem 0

  @media  screen and (max-width: 835px)
    display: none