.shop
  &_wrapper
    @extend .wrapper
  &_layout
    display: flex
    gap: 2rem
    padding-top: 4rem
  &_sidebar
    width: fit-content
    margin-top: 5.5rem
  &_categories
    display: block
  &_products
    flex-basis: 100%
    padding-bottom: 5rem
  &_toolbar
    display: flex
    justify-content: space-between
    margin-bottom: 3rem
  &_grid
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr))
    gap: 2rem
  &_rooms
    margin-bottom: 3rem
    input
      display: none
    label
      padding-bottom: .6rem
      display: inline-flex